black
Django==4.1
django-filter
drf-yasg==1.21
django-environ
djangorestframework==3.12
django-rest-passwordreset
djangorestframework-simplejwt
factory_boy
isort
mysqlclient
pip-tools
pytest-xdist
pytest-django
python-dotenv
