black
Django==4.1
django-filter
django-environ
drf-spectacular[sidecar]==0.26.4
djangorestframework==3.12
django-rest-passwordreset
djangorestframework-simplejwt
factory_boy
isort
mysqlclient
pip-tools
pytest-xdist
pytest-django
python-dotenv
pytz
