pip-tools
Django==4.1
django-filter
drf-yasg==1.21
django-environ
black
djangorestframework==3.12
djangorestframework-simplejwt
isort
python-dotenv
mysqlclient
django-rest-passwordreset
pytest-django
factory_boy
